<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1><%= uid %></h1>
    <h1><%= pwd %></h1>
    <h2>session Info</h2>
    <h1><%= session %></h1>
    <h1><%= suid %></h1>
    <h1><%= spwd %></h1>
    <form action="/myLogout" method="get">
      <button type="submit">로그아웃</button>
    </form>
  </body>
</html>
